# ===== Access-1 接入交换机（办公区 1F / VLAN 10） =====
# 设备: S3700 | 端口: E0/0/1→Agg-SW-1, E0/0/2→PC1

system-view
sysname Access-1

vlan batch 10 30

# --- 上联 Agg-SW-1（Trunk）---
interface Ethernet0/0/1
 description TO-Agg-SW-1
 port link-type trunk
 port trunk allow-pass vlan 10
 quit

# --- 下联 PC1（Access 口，VLAN 10）---
interface Ethernet0/0/2
 description TO-PC1
 port link-type access
 port default vlan 10
 quit

# --- 管理 IP ---
interface Vlanif30
 ip address 10.0.0.21 255.255.255.0
 quit

ip route-static 0.0.0.0 0.0.0.0 192.168.30.254

return
