# ===== Access-4 接入交换机（管理区 / VLAN 30） =====
# 设备: S3700 | 端口: E0/0/1→Agg-SW-2

system-view
sysname Access-4

vlan batch 30

# --- 上联 Agg-SW-2（Trunk）---
interface Ethernet0/0/1
 description TO-Agg-SW-2
 port link-type trunk
 port trunk allow-pass vlan 30
 quit

# --- 管理 IP ---
interface Vlanif30
 ip address 10.0.0.24 255.255.255.0
 quit

ip route-static 0.0.0.0 0.0.0.0 192.168.30.254

return
